@import url(https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Lato, sans-serif;
}

/* Стили заголовков, параграфов*/
h1 {
    font-weight: 900;
    font-size: 48px;
    line-height: 58px;
    color: #222222;
}
h3 {
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    color: #222222;
}

h2 {
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    color: #222222;
}

h4 {
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: #222222;
}
.text_color {
    color:#F16D7F;
}
.top__heading_textcolor {
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    color:#F16D7F;
}

.items__heading_main{
    font-size: 30px;
line-height: 36px;
font-weight: 400;
color: #222222;
}
.items__heading_paragraph {
    font-size: 14px;
    line-height: 17px;
    font-weight: 400;
    color: #9F9F9F;
}

.items__cards_heading {
font-size: 13px;
line-height: 16px;
font-weight: 400;
color: #000000;
margin-bottom: 13px;
}

.items__cards_paragraph {
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #5D5D5D;
    margin-bottom: 18px;
}

.items__cards_price {
    font-size: 16px;
line-height: 19px;
font-weight: 400;
color: #F16D7F;
}
.feature__item_heading {
    font-size: 20px;
line-height: 24px;
font-weight: 400;
color: #FBFBFB;
}
.feature__item_desc {
    font-weight: 300;
font-size: 14px;
line-height: 17px;
color: #FBFBFB;
}

.subscribe__info_paragraph {
    font-size: 20px;
line-height: 24px;
font-weight: 400;
color: #222224;
margin-top: 30px ;
}

.footer__copy_text {
    color: #FBFBFB;
    font-size: 16px;
    line-height: 19px;
    font-weight: 400;
}

/*Стили блоков на главной странице*/

.header {
    width: 100%;
    height: 75px;
    background-color:  #222222;
  padding-top: 20px;
}
.header__wrapper {
    margin: 0 auto;
    max-width: 1140px;
    display: flex;
    justify-content: space-between;
}
.header__navbar_left {
    display: flex;
    align-items: center;
}
.header__navbar_right {
    display: flex;
    align-items: center;
}
.navbar__logo {
    margin-right: 41px;
}
.menu {
    margin-right: 33px;
}
.navbar__userpage {
    margin-right: 33px;
}
.top {
    background-color: #F1E4E6;
    display: flex;
    justify-content: center;
}
.top__wrapper {
    width: 1140px;
    display: flex;
    justify-content: space-between;
    align-items: center; 
}
.top__heading {
    width: 377px;
    position: relative;
}
.top__heading_bar {
    position: absolute;
    left: -20px;
}

.categories {
    margin-top: 65px;
    margin-bottom: 96px;
}
.categories__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
    max-width: 1140px;
    margin: 0 auto;
}

.categories__label {
    position: absolute;
    text-align: center;
    top: 105px;
    
}
.categories__label_offer {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #ffffff;
}
.categories__label_wideblock{
    position: absolute;
    text-align: center;
    top: 65px;
    left: 490px;
}
.categories__women {
    display: flex;
    height: 260px;
    width: 360px;
    position: relative;
    justify-content: center;
}
.categories__men {
    display: flex;
    justify-content: center;
    position: relative;
    height: 260px;
    width: 360px;
}
.categories__kids {
    display: flex;
    justify-content: center;
    position: relative;
    height: 260px;
    width: 360px;
    }
.categories__accesories {
    position: relative;
    height: 180px;
    width: 1140px;
    margin-top: 30px;
}

.items__section {
    width: 1140px;
    margin: 0 auto 96px;
}

.items__heading {
    text-align: center;
}
.items__cards {
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
    max-width: 1140px;
    margin-top: 48px;
    margin-bottom: 48px;
}

.items__cards_item {
    display: flex;
    flex-direction: column;
    width: 360px;
    margin-bottom: 30px ;
    background-color: #F8F8F8;
}

.items__cards_desc {
    padding: 25px 28px 20px 16px;
    text-align: left;
}

.items__section_button {
    text-align: center;
    margin: 0 auto;
    width: 211px;
    height: 47px;
    border: 1px solid #FF6A6A;
    padding: 14px;
}

.feature {
    background-color:  #222224;
    min-height: 340px;
    padding: 100px;
}

.feature__wrapper {
    width: 1140px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
}

.feature__item {
   width: 360px;
    text-align: center;
}

.feature__item_heading_wrap {
    padding-top: 25px;
    padding-bottom: 16px;
}

.subscribe {
    background-image: url(img/background_subscribe.png);
    background-position: center;
    background-repeat: no-repeat;
   
}

.subscribe__wrapper {
    width: 1140px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 86px; 
    padding-bottom: 150px;
    margin: 0 auto;
}

.subscribe__info {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    width: 350px;
}
.subscribe__info_photo {
    height: 96px;
    width: 96px;
    border-radius: 50%;
    background-image: url(img/subscribe_photo.png);
}
.subscribe__form {
    text-align: center;
    width: 356px ;
}
.subscribe__form_email {
    display: flex;
    margin-top: 32px;
}
.subscribe__form_input {
    width: 256px;
    height: 50px;
    border: none;
    border-radius: 25px 0 0 25px;
    background-color: #E1E1E1;
    padding-left: 22px;
}

.subscribe__form_button {
    width: 100px;
    height: 50px;
    border: none;
    border-radius: 0 25px 25px 0;
    background-color: #F16D7F;
    text-align: center;
}
.footer {
    background-color: #222224;
    padding-top: 30px;
    padding-bottom: 30px;
}


.footer__wrapper {
    width: 1140px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    align-items: center;
}